@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

span{
    position: absolute;
    right: 200px;
    transform: translate(0, -50%);
    cursor: pointer;
}

.fa{
    font-size: 50px;
    color: #000
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(../html/pictures/bg-2.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    min-height: 400px;
    background: rgb(137, 211, 171);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.container .login-text {
    color: rgb(47, 47, 47);
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #00ff80;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #ffffff;
    outline: none;
    border-radius: 15px;
    font-size: 1.2rem;
    color: #7bb094;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    color: #fff;
    background: #7bb094;
}

.login-register-text {
    color: #404743;
    font-weight: 800;
    align-items: center;
}

.login-register-text a {
    text-decoration: none;
    align-items: center;
    color: #ffffff;
}

@media (max-width: 430px) {
    .container {
        width: 300px;
    }
}